/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(/assets/burger-friends.jpg);
}

nav {
    display: flex;
    background-color: #0fb9b1;
    height: 6vh; 
}

span {
    display: flex;
    align-items: center;
}

.add-recipe-btn {
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    line-height: 1.8;
    margin: 10px;
    border-radius: 6px;
}

.recipe {
    display:flex;
    align-items: flex-end;
    flex-direction: row-reverse; 
}

.left-container, 
.right-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    
    background-color: rgba(225, 225, 225, .9);
    margin: 10px;
    padding: 50px;
    box-sizing: border-box;
    width: 35vw; 
    height: 35vh;
}

.lets-cook-btn {
    line-height: 1.8;
    margin: 10px;
    border-radius: 6px;
    background-color: #0fb9b1;
}

.right-container {
    display:flex;
    align-items: center;
}


label {
   line-height: 1.8;
}

img {
    width: 10vw; 
    height: 10vh;
}

.hidden {
    display: none!important;
  }
  

.two-flexboxes {
    display:flex;
    align-items: center;
    justify-content: center;  
    
    /* background-color: red; */
   
 }  




